@font-face {font-family: "iconfont";
  src: url('../others/iconfont.eot?t=1524633832000'); /* IE9*/
  src: url('../others/iconfont.eot?t=1524633832000#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff;charset=utf-8;base64,d09GRgABAAAAABoIAAsAAAAAJzwAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABHU1VCAAABCAAAADMAAABCsP6z7U9TLzIAAAE8AAAARAAAAFZW7kgWY21hcAAAAYAAAADsAAADDvLECH5nbHlmAAACbAAAFHUAAB1ohIRPn2hlYWQAABbkAAAALwAAADYRK6fLaGhlYQAAFxQAAAAcAAAAJAfeA6BobXR4AAAXMAAAABQAAAB8e+kAAGxvY2EAABdEAAAAQAAAAEB0NHxCbWF4cAAAF4QAAAAdAAAAIAEzAMtuYW1lAAAXpAAAAUUAAAJtPlT+fXBvc3QAABjsAAABGQAAAcLEQ0CLeJxjYGRgYOBikGPQYWB0cfMJYeBgYGGAAJAMY05meiJQDMoDyrGAaQ4gZoOIAgCKIwNPAHicY2Bk/s84gYGVgYOpk+kMAwNDP4RmfM1gxMjBwMDEwMrMgBUEpLmmMDgwVDxTZW7438AQw9zA0AAUZgTJAQAoYAyYeJzF0clxwkAURdHbDLLFPM/gkZ3DchAKwyuH+NPA/+mxcQSo6tB0Iy4qPtAHuukr9aD8UtD1k6elPe8yaM97fOe+yrXQoYnr7Zb7Jup2zVvys6pdu3lPP98/8Uyd3x4yYsyEKTPmLFiyYs2GLTv2HDhy4swlq5SKh13lcT/9/xrppTT33SU1d/mIUZumFgPT5GJommiMTPOIseU0iInlXIipod7MNOmYG+otTE8US0O9laHe2lBvY6i3NdTbGertDfUOhnpHQ72Tod7ZUO9iqPdiqPdqqPdmqPduqPdhqPdp+m/janT+AM0fSCx4nJVZe3QcZ3Wf+33z3p2Z3Z3dndWutKt9jmxLK3mfkiytrIcj2VKw/IqF5cROHBwnseI32C1pDAGSUODYkUMCTiCQhBAgNE2TQ0kMtiHmNCeQnJycprzBlHIOHNrSlgABdtz7zUiODPSPSqPv/Zh753fv/X2fOIHjLl2kZ2iMM7kObiU3xk1zHIgrIKOTNkjblSJZAZG0ELHCOrWzdlrKZop0EKyMGI6WapWCJUqiATokoZwu1ewisaFaaZBVUIq2AbQk4ptC+dYQPQFqzE6+31lHPg2RVLbVaHQ5azuHwqV2U36XPxRqCYU+JIuCIBPCGzrMWVFFUFTReVQw4pEzqWUkBf4WOz71dq09Ebr+7sptbXlLATh+HMxEu/74UDAexOfd8agZapECmhyLa9lcGN71U1/M9LcV/pXDHxVlPc5z9Dgnc0EuzmW5Tq7KDXNv47ZyO1HqBlQKTCyUxpONLhbqf9ZlLhbyOkhJsBpQLwLNFKHSgDLWdbg8+fK6hEvkcrVczvmel5/2snd4Gbmy6uTnTlB6Ys5LswO53EC2Og4wXvX6Ie/llAOW1XLNOxYKMLxQOL/Yc+nPei4vPHfCuTM9ODaYpuO12rjTXBhA3rNQYHojqLcf0xnahhrr4bh8EWxXXNsTHdNIEkq1KjZi1S0C9q706qiJrfzc9v7VQE/t33eKwkjf7D4BzKQpnj50+LRbch7fOEfI3MZNLBV3f3p5/sjY/lOEnNo/fji77FN7qGGaxqH7Kb3/ECvBRhzrzdg4x3Gii+GtNMV1c2u5Ldx13C3cIXxPfMsq4heRHAlHLUlMkiH2ela5VBuCMpZW4afBpmiDYKGUxGEulA3IFqEbRahWaqZdsAvZjAH1qCUUsNuu1a38EvHrpWhYzBQqNbr+unSm5+0H7zi4rbvD3iKTcFug1+BjAUmPyTfKN0oxXQpagt4bSIZJ81e52d2zE4V4i5HaUIwGilvSvvZM/m2aEFD9glge7V0DqVBK0KdGa2udfx+YJmR6YGAaYHog09k52tV1xyPLdtWGcKvubQeHVt3SeUpPxVXe6A1EiO5/8km/TsNsdzWeIvlcvjA+W15+dTqYWSYQkmtXszM95dnm2VJIEYl2cLneyYdCpTtDXX9z8fI2A9Pf7RplW3Ecz0BAP0l+zQXQaqrcCNpKwc4XKvV8rWQJ0bAkiHkhWqp3QSEjmZlCNyAWmP17hoFqLEWtoA75TMEOsp5IMCzCpZaw8/nWVtgSLoVhS2ur83nTeQgG+RB+DedrNET9t30eTdxsNcmRm29+J5htIZC+AIpuuo0mCKCeC/QHzvp8Z4N9gXPqb58m5Gn8a94wMixc0k1TdyLdhHRHHLd8aWRsK5qt6lZ+o5tMrktfpx+jvVyK6+NGuZtQrmyV2Sp6voU8ix85iGKkUY5gEYRyhBn1IKQXcmbrERxcgzTiJZhmUgaZvG2sK4yONFJmCMmmGUZWQdXro+ERLaQ5z/hNbaR3kpDJXtLh5s2HRzTTD1PYO1IoQdMukbc1v10oke9AyXlKD2u7FfzZfZSlzsss7dDDOvl1l6JpSpeXwmRv89t96whZ18dWXRFR/X414qVQyl9zTb7U7IBSAZ531hRKj4LGlpkB3dTfjxvgc5Y1nOUU97s/TH6IJRNtv8zVuVXcOEaI61xNoUpQxohURl1hwBAjng4qtXoatYKaYG3BcJQFBmwuZFF72Qj+2Z4HcZ2DfdmjZj2Tyro9ZMMnIZtIJ3K3NRQxLcpwe3MUHV6CfCWRA8g1O0QFsfsVSZYl540f4s/PehoAjZ5ulnYnstlqNnt8JQx0dg3ASrJ1ZHgrWbMtzqbGly0TZVlk7jIB3/GaHDuRIwVZdGy2IHxHlJ/p2dpTvrxeT+MLwFasZp1f4IIw0DU8A7AV1SMhhl6gj9OxBQzdx32Ge5r76hVIKsL/G0m2iySoJUESpTq6oAZEmeuK6oDWJYm2mxrYENaBFSWxSOq1Omq2js4t64GthnHLXQHXNrBWY+OiKcDmOvtkoiREwvjlBqGC8VrKtEEYc6xlaXpUMzXn7wEBOto3BTDVR7rdvPkA64H1mIwygKbKZEvzVSyRi4jQi2Jc4rXEOoXycjAgqIaP+kMBSt+tyCpPqBwU4rJfl2NqOCIF/USOhVoMWVR1PsAgFyNAAqafAskGNUqWB+j7DBlA1qhfJ7wQJATE4H1BfO7k+fU8T7mlsCeTfc1XL7/r5Iooa416KaJ9ZqZQaqagXIDzzlChDN+gouHLFxVTVHSFSOFsWtEEXlGDBKhMg7mcHBBC+HKGFguKQiAkRExDs/TIqggaXDSkCrxf8QeJGUqt6lH290clJCxibCBFqaxsvD0YvD3Yw9d5fFj8RDt6LxU4m1vPkIHfdwEcDO+MGlju1w8nAYHAzIpRBlgADo4uNwh+Luxwh9SrOHhhGkbX2bJ26lazzdw7rxW1cMgoa/N7sXrrKa2shS3nWQglzfX7WAVM7JzbYCZDsH6fv6SHTaOkz8Hjt85rK7WwqbsLYSfWF0fP34rTI84b3mD/3Ia/uNqGOSai7MbhR5AnLEdPMc5t4nZwf8Xdzr0HZV4Q1oV2g1HFqMVgjyLa6SWGgWpBH9AGnklgRQxb5WhpCBDUGMuBppnYzKFgH0uyXoMdjiJyh0itWq+habBALUoRpqS6JZmWZNMTkg86Us2HUh2AOdmFuc9QYbDYfKg4CJiTXZirsuTDZjUsCiDoIgEA1RhuHpNVVSZ3Yfq8pKqS82NWn1Dl74rCAUqu5XnpLkmn2wmELsjqf0wNr3nH9I3wiE+a8HaDm1LLlqXYTG8r52NePiH5kBdLE+5qkjoqGIIoIvopL6nQ/KAaUPHZ5mW/QAPaRoH+XNL5OhGkXyD8/9q3N1mG1R3/ZHOw4KvfQAbEAYs8EuikSFCn6EUIqzAHwqoNhqgC9otRK1pb7GaNRVJzNd0gUbor1daWcp5Lbdu1ZyYjdSQhIyd1RXZ+ZKWEeDo5MTFswRorDNFwbnvR+a4JhtkTQP0lDRz062TfyhVBw6KRVEJVfpdcOzlBzqSmpqeSDnJ5MT2z+8a3pyAly0ZSdn5iNa4aTydb+FYLRq2VK4tmji863w/3GKZkgMIGSc5vkjESC+rLK/1tbT75t8ms0OLy0u/RTyDvi3Bpl79XL5PSEtI0Flbs/JJYQ77WnuPPnjxxlse09o4V3wx0tBtO/tijlD567ChLQVhxY/2k23/iHM22fjPQvixwlD569NgjPP8IjmFqZnzzp/RhmuZa8QQxwE1wG5B1Mr5J3DCHkJQiYclmAXIxEi6EQeb5GeDzXvOiPdStNCMJrFqpCSxhVSEdSdN6zliRTEabf0DWYOSgv5OInf0Aq5qVtigR2RmrDTutNtLX2U9If2fzD13Y3d/VAnWfYficF326Dj/AYtQwmq+Tueb8VM4Ab25bVIjqOYGthxN/jwvwuA/uRgR34Y3uep2rcLtOgsPIHgMDEOhRo8ISrFQqqA+PJzxGJc7AKNjF9aNGruF2cQe4j6FWFkVc1MSVYdCGTKHqEibGCaX60lp5kS66qqr/3wOtK7oo868LjASrC7GwwTgpO5VazG0y9dIVzTOVMYCxChkrr8G8eXe+B6AnT8a8vPkzNFl0BvIeL98pK8wdsETaI7tNi/n1CyOV2ZZ25FOvqlo6NsMMfkbRoL3l1Vga/OosjlVxO7irMkbIWMU5hvkW3Mg55m0Id2He/JUqwTnmEpzV6AZwL9joOp0vsvRPet6qbVdluNGtPSirs1d0kTF8BRYG8d3wLfFNYul0TPWzCvt0i/z+ly67Y16bsZdstcwcMuoy63lki7G3LHPkrrOteX3VdCTrnQBZG/PZQtSKsAsEu1qrmwWWllmLBIuNWKU7rv7tVS6TS7zIaN3aNydY9qLXNAXnxt/qbP4nk/VFlvwOda+4JVAWmliSPzqIY+/1prBs8GguMc8WxARGRuCtWgXUeRUfQB+p3ssWwMQZ85pUVxeXvkp+Toe5IHqVDkQzx9gUhhT0i2lG3SXkrOV61mRtdXMBU2YUA45t1WmWzL2iGiRP/D4RWvyBPDW+9qmW127R5AsKnSSG+j+qgblyQX76M58Z/QbZqSlP+EMUAn7xCUXr2//HZ0H+F58Os4ytO4/pvteV3z/7LNTdT4Tv9jP6EDU4FS1tORoefiaolVLohG08Z0A+jbTRs4MlvsV1LfSUc+0D8KjSouxVPujcOQjHnTPOPPmEPx2AvNW8wcqjGi2YC6o+ss+5+gF4WsGRsSnnwCB8aKC5C+YCPl/AmY8xHcfIQzg+0K55vvBH9CPoCylyYR9XQOsfRZ2h63J/ETMWeysW0BedH7N/L4Tn8TR92WUzj90g9qL3gwx8ytnB/r785c85/01uDsWDANl48/54luWga6EQfGFTC5DtY2u2A2xfU122QcFBP13R27ulr48caNzQ2D34GvmG8xQO1WDam9jsj2eDiSDdbHd708YwcCc3qhCMr4c+nLilz7vzeJFeoBOcgDJxUGaSgGTXraLL5L2TLdIvCZ1UIVCv5ayoVYcL6/Y/B5car8euq3xi++lXeP6V0w++wq8Vfvf8zMNDx48fgOUf2FCJkaEza2Hv1yfXpCc38a886I177k1+pHE37LjrtvSG8voJ794FP/rHiYMo3IjvgJy5JkoFRuIZ93cvJiQWZJDZ1xEFkSKgkYUtwKgelpBl1Ss1rISxsTAIbLCI4JXEbMYu2BU2i7wPFHNlT9/04HRnlRAxJIh+JdSXHx69ZnPXimXUDkK7qjoXAzZ9Oj8YJgkfZCXJ+YEvkc2NrRsYwGOD5KfUgMHK9nHyraB6PR9cDlpoWW3bzadJUCQSnxjLDeW78WM9bwb8YPtafWD7A2F+XhY+YvhU53UpJDn/rPqN+3wd6f7KNFVBDDz17psaPa4t/sSNsxYy5zrDVd7lgsidDQgyBh0J2uxqzYL0lWHFXIp/bF7KG+GXcot8XAqE5S16TL9GDgdkeKl50ouCZJ8b7mQWVU960ZXsw/y9Tpdf1/3wGqbPyfJpnCXtgQ+zNufQHrYYfJNFy5ML0XJfZ39zxZL5bL0LuJ0eDbh2fI4eQx+Td29c0VoW7s4WKbF7+YqudlEkRiso0gOMhzUUIiKgeOiQF06O3t1jf/MSOTIzc4QEYgF6an9156S9KpHBM3iCHI7nciaIzQ8JAAI5LDrPx9rB0HCgHgBoh3/bjNNwsj8Q8O8/Re2pHdXN2biz1TscwxPxrBMXAUT4rChuxFhixOV9bOxtUiLQ0r7APc+Rw9wUyoImXSswfqljaEdrxpydXPHg6fLPIXArGILd0oIILl1jQbqbSYMDy1FGRek/7qzleElRLaX3pTde6hUsXZH4UFdipyzgcUvRhW3RYqJHSfhNX09ioD2QCLQ32rt9pl9T+J5EMbqT9ym8gmLD1oPVCcVScbEDt//1nCbJQlTJ9cUPKpYiEJD4vaE27Z6EErpH8wv3aIGA9kFduTOEg+7R2kIHBAmIEPYvxsrz5EX0wDEux+JDvkALFTxSl6Mm2hoeyEQaYvyT0KXXHIv35YT71QWf74bvHf0vNzv28lP/8NLu8zNPvVJn1z/13kmAyd7WfL63UKigSw7ZwZPz4Hw/ZIdOzpON4LzpvAnvvxMk5whZ1+uN7l33QqGXzViIEecRW6v/IrbqS7AVWUJJXWwhyOrpqGVAJusaFYaVBWOj/Q7HsHWYBmIG0Pv2VXdMdqyKZ7NxcijBfGoYhOaHRZEcEuCjFwG2KdGgPBsshi7KwShD12FKj2xliNmH6Jr00DWDoIzDZxm2GCwRW4iwqy/O4hScG7woR4Moj+DayjY6gvo2uQRKVWQyXWntFgYY18yx7t6eIClBju0pPCOSs87xka2EbB0BzBEK5eZHj8DxntVC86P8MDzlHC+NALkFRpyL8UIcHzoMM8PNZ9gdz8wwmRqe+ZLTDj+eh0ax2PjjSzBS6ugojYybbGj8sp8+S/6A+n4v4kFH9XZTxg/sLPKfgnuVXC7VsAH9log4D0dRuX/6kCiOqbPTWZ1dPxfeeohLZiX2TxaGs9KVM5PAWNnC1ypkySOFLZ1+f6IV+R/v80GuTZH5tvQIobCPCLAfKBnNtBNREnw+gmtruuT3+32+SKtp9s31BMRo9gXItIOskP6NvKarPn84aRhi/163L5Df0qn5cW1FUUWfSlZ3QjIzQsnlxe+Nxwkv4RmWCGKkDRSVz28vC+QJgo8wMFekioIbkkIcZJEKeIqlPE+yGV+uXfwJ68a3Gs8RQaBLOnzxOADBH4rrQlsVCtdWFpf0ONsF+k46ykW5DFdz76ddrso4bHWJEUpL/28hVFk0l+yg1+UOM5f0ww2PPWZ/7nNXzRJyy/rpmwlcv85obCBkQ2NwI8BG+NsHW791LvPhie2L/Tu3NTYDbG4MbSJkE+y1X37ZvsG3e+36W9iAqZvk5YtTBxsbvnrp46nXXm/9+CVOuWktTiY3T6/b4zxHNg012Gxcw7Nl16+eR+y3cCv+HPdS1AIxYwMe4r3DI4aHOuIA/yJ0unl99xAhQ93kk91DAEPdsuQ8K1uK8wx+2dfbreb1sRT6RVgXH22BdYSch6EeZ9ibAmd7hupAnC/LMlxFwVHY0FQMzgqCcyYWg6tEccHX/B09QRtcOzeI5z2One109zKSYZ/dMrjBCQNCFNkRRkEhHPGuMdklA3bY1YrtxgicYgmlci0aEW0RfWUkKoUxfrB/wVRrBSkrZdiKBTzH4X68rG8enp1d1nFTpbR6ShIhFHzySV/c//DDnU1N+EjXtd1ai/bFNetFHtrvv1+11AcewDi4e8dONUBi41eFNIIANRQelMgHZEr9EiG68gIJ9Ozonr6jZ3Qk1TaZ7yh/YMPU1APBmNhbRSCWKnrxfVAuf+lgbjTjA/V45e5rGo3b25WVPRToypVqehQEzUKQasGTJyRdFjRx/t4IninAJ4g+8X8BQer6cAAAAHicY2BkYGAAYtfP+6bF89t8ZeBmYQCB62yGzxH0/wYWBuYGIJeDgQkkCgAxkQo3AHicY2BkYGBu+N/AEMPCAAJAkpEBFcgDAEclAoh4nGNhYGBgfsnAwMJAfwwAi1MBZQAAAAAAdgESAWICEgJ+Aw4DoASyBSYF5AZeBpoHIggCCIgI1gkgCYwJzgpOCroLIguYC+gMUAyiDWINzg4eDrR4nGNgZGBgkGfYz8DFAAJMQMwFZv8H8xkAHxwB/wAAAHicZY9NTsMwEIVf+gekEqqoYIfkBWIBKP0Rq25YVGr3XXTfpk6bKokjx63UA3AejsAJOALcgDvwSCebNpbH37x5Y08A3OAHHo7fLfeRPVwyO3INF7gXrlN/EG6QX4SbaONVuEX9TdjHM6bCbXRheYPXuGL2hHdhDx18CNdwjU/hOvUv4Qb5W7iJO/wKt9Dx6sI+5l5XuI1HL/bHVi+cXqnlQcWhySKTOb+CmV7vkoWt0uqca1vEJlODoF9JU51pW91T7NdD5yIVWZOqCas6SYzKrdnq0AUb5/JRrxeJHoQm5Vhj/rbGAo5xBYUlDowxQhhkiMro6DtVZvSvsUPCXntWPc3ndFsU1P9zhQEC9M9cU7qy0nk6T4E9XxtSdXQrbsuelDSRXs1JErJCXta2VELqATZlV44RelzRiT8oZ0j/AAlabsgAAAB4nG2QbXOCMBCEWWtFA6h9f6/9Z52IkZxCotIbgV/fC9JvzTBMdvfmuZ1Eo+hyVPT/WWGEK4xxjQliTDGDQoIUGeZYYIkb3OIO93jAI57wjBe84g3v+MAnVviK0CQta/ed0ykvjSrMybiG5JvvSLuiJMt+412RivQt7yh42Y5Mbbm2FIayQvKO/ZDtNUnwlx2JO0stNYGWHgw17C6Dy9qKlVvZvuUwO6k91+yzfrQaViUCamhAC+lsqBSI6MVFVRQgxhVJR2d/ECWsRW71XruedBRL/XjeBMqGlWXacq9TyTvd9yxpXFGl0/Bb894ETwUxXI8cHiYYs9p66Wa1j+UJtDSJQ5s1mWnrud+oWu26UKnSUfQLSG6KawAAAA==') format('woff'),
  url('../others/iconfont.ttf?t=1524633832000') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('../others/iconfont.svg?t=1524633832000#iconfont') format('svg'); /* iOS 4.1- */
}
body {
    display: -webkit-box;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    background: #fafafa;
    line-height: 1.4;
    color: #333;
    font-size: 12px;
    margin:0
}
a:link {
    text-decoration: none;
}
.el-badge.item{
  min-width:65px;
}
.el-header,.el-footer{
    color:#333;
    background: #ffffff;
}

ol, ul {
  padding-left: 0;
  list-style-type: none
}
.block{

   background: #fafafa;
   margin-top: 0 !important;
}
.el-menu-demo{
  border: none;
}

.button4plain{
  background: #ffffff;
  font-size: 14px !important;

}
.el-button--primary{
  background:#1476C1;
}
.radio4forms {
  border-radius: 26px !important;
  width: 160px !important;
  margin: 0 50px;
  transition: all 0.6s;
  background: #ffffff;
  box-shadow: 0 1px 1px 0 rgba(0,0,0,0.50);
  font-weight: 500;
  color: #707070;
}
.radio4forms:hover {
  transform: scale(1.05);
}
.el-radio.is-bordered.is-checked{
  border-color: #1476C1;
}
.el-radio__input.is-checked+.el-radio__label{

  color: #1476C1;
}
.icon4card{
  color:#1476C1;
  font-size: 24px !important;
}
.icon4form{
  color:#1476C1;
  font-size: 30px !important;
}
.el-radio__input+.el-radio__label{
  font-size: 17px;
}
.button4plain{
  border: 1px solid #707070;border-radius:14px;color:#707070;font-size: 14px;
  height: 26px;
  width: 50px;
  line-height: 0;
  padding: 0;
}
.button4plain:hover{
  color:#1376BE;
  border-color:#1376BE;
  background-color: #ffffff !important;

}
.item4menu{
  background: #ffffff !important;
  color:#484848
}

.item4menu:hover{
  background: #ffffff !important;
  color:#1376BE !important;
}
.item4menu.is-active{
  color:#1A72B7 !important;
  font-weight: 600;
}
.el-submenu__title:hover{
  background: #ffffff !important;
  color:#1376BE !important;
}
.el-form-item__label{
  font-size:16px;
}
.el-textarea__inner{
  font-size:14px;
  font-family: MicrosoftYaHei;
  padding:6px 14px ;
}
.el-form-item{
  font-size:16px;
  transition:all 0.3s;
}

.el-form-item .el-button:focus {
   transform: scale(1.05);
 }
.el-form-item .el-button:hover  {
  transform: scale(1.05);
}
.blockDiv{
  width: 100%;
  height:110px;
}
.el-dialog{
  opacity: 1;
  background: #ffffff;
}
.needMarginBorder{
  width: 90%;
  margin:30px auto;
  border:solid 1px #DCDFE6;
}
.item4forms{
  border-radius: 30px 0 0 30px;
}
.img4forms{
  filter:Invert();
}
.el-button--text{
  color:#222222;
}
.block {
  margin-top: 3%
}
.el-menu-item{
  font-size: 16px;
  background-color:#ffffff ;
}

.el-submenu__title{
  font-size: 16px;
  border-bottom: none !important;
}
.el-carousel__item h3 {
    color: #475669;
    font-size: 14px;
    opacity: 0.75;
    line-height: 150px;
    margin: 0;
}

.el-carousel__item:nth-child(2n) {
    background-color: #99a9bf;
}

.el-carousel__item:nth-child(2n+1) {
    background-color: #d3dce6;
}
.el-row {
    margin-bottom: 20px;


}
.el-col {
    border-radius: 4px;
}

.wrap {
    -webkit-box-flex: 1;
    flex: 1;
    width: 80%;
    margin-left: auto;
    margin-right: auto;

}
.footer {
    width: 100%;
    margin-top: 50px;
    padding-top: 10px;
    padding-bottom: 12px;
    border-top: 1px solid #E6E9EE;
    background: #fafafa ;
    line-height: 40px
}

.footer::after {
    clear: both;
    content: "";
    display: table
}

.friend-link {
  width: 100%;
    float: left;
    color: #999;
    display: inline;
}

.friend-link li {
    float: left;
    padding-right: 3px;
    padding-left: 3px
}

.friend-link a {
    color: #999;
    font-size: 14px
}

.copyright {
    width: 230px;
    display: inline-block;
    color: #999;
    font-size: 12px;
}
.child-view {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all .5s cubic-bezier(.55,0,.1,1);
}
.slide-left-enter, .slide-right-leave-active {
    opacity: 0;
    -webkit-transform: translate(30px, 0);
    transform: translate(30px, 0);
}
.slide-left-leave-active, .slide-right-enter {
    opacity: 0;
    -webkit-transform: translate(-30px, 0);
    transform: translate(-30px, 0);
}
.show-rectangle{
    width:50%;
    height:400pt;

    margin-top:2%;
    margin-left: 25%;
    background: #f6f6f6;
}
.show-rectangle-big{
    width:30%;
    height:100%;
    position: relative;
    top:2%;
    left:4%;
    background: #ffffff;
}
.show-rectangle-nw{
    width:30%;
    height:49%;
    position: relative;
    top:-98%;
    left:35%;
    background: #ffffff;
}
.show-rectangle-ne{
    width:30%;
    height:49%;
    position: relative;
    top:-147%;
    left:66%;
    background: #ffffff;
}
.show-rectangle-sw{
    width:30%;
    height:49%;
    position: relative;
    top:-145%;
    left:35%;
    background: #ffffff;
}
.show-rectangle-se{
    width:30%;
    height:49%;
    position: relative;
    top:-194%;
    left:66%;
    background: #ffffff;
}
.el-tabs__item{
    font-size: 16px;
}
.input-date{
  width:40.3%;
}
.xhwl-loading{
  font-family:"iconfont" !important;
  position: absolute;
  font-size:30px;
  left:50%;
  top:50%;
  display: inline-block;
  animation:my-move 5s infinite;
  -webkit-animation:my-move 2s linear infinite;
}
.xhwl-loading::before{
  content: "\e625";
}
.el-loading-spinner{
  height:400px;
  vertical-align: middle;
  text-align: center;
}
@-webkit-keyframes my-move
{
  0%   { left:50%; top:0%;}
  4.17%   { left:49.3%; top:-10%;}
  8.33%   { left:47.5%; top:-18.66%;}
  12.5%   { left:45%; top:-20%;}
  16.67%   { left:42.5%; top:-18.66%;}
  20.83%   { left:40.7%; top:-10%;}
  25%   { left:40%; top:0%;}
  29.17%   { left:40.7%; top:10%;}
  33.33%   { left:42.5%; top:18.66%;}
  37.5%   { left:45%; top:20%;}
  41.67%   { left:47.5%; top:18.66%;}
  45.83%   { left:49.3%; top:10%;}
  50%   { left:50%; top:0%;}
  54.17%   { left:50.7%; top:-10%;}
  58.33%   { left:52.5%; top:-18.66%;}
  62.5%   { left:55%; top:-20%;}
  66.67%   { left:57.5%; top:-18.66%;}
  70.83%   { left:59.3%; top:-10%;}
  75%   { left:60%; top:0%;}
  79.17%   { left:59.3%; top:10%;}
  83.33%   { left:57.5%; top:18.66%;}
  87.5%   { left:55%; top:20%;}
  91.67%   { left:52.5%; top:18.66%;}
  95.83%   { left:50.3%; top:10%;}
  100%   { left:50%; top:0%;}
}

/*@-moz-keyframes mymove !* Firefox *!*/
/*{*/
  /*from {background: red;}*/
  /*to {background: yellow;}*/
/*}*/

/*@-webkit-keyframes my-move !* Safari å’Œ Chrome *!*/
/*{*/
  /*from {background: red;}*/
  /*to {background: yellow;}*/
/*}*/

/*@-o-keyframes myfirst !* mymove *!*/
/*{*/
  /*from {background: red;}*/
  /*to {background: yellow;}*/
/*}*/
