@import './mixin.scss';
@import './element-ui.scss';

// 主要样式
//
.resume_form_container {
  // @include boxSizing;
  .form_information {
    width:100%;
    @include boxSizing;
    padding-left: 30px;
    .form_info_title {
      margin-bottom:20px;
      h2 {
         width:140px;
         text-align: right;
         display: inline-block;
         font-size: 30px;
         text-align: center;
      }
      h4 {
        display: inline-block;
        font-weight: normal;
        text-align: center;
      }
    }
    .el-form {
      margin-top: 10px;
    }
  }
}
